.header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
  
  .navigation ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    cursor: pointer;
  }
  
.navigation ul li a:hover {
    text-decoration: underline;
}
  
.user-info {
    display: flex;
    gap: 20px;

    & a {
        color: white;
        text-decoration: none;
        font-size: 16px;

        &:hover {
            text-decoration: underline;
        }
    }
}

  
 

@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .navigation {
        margin-top: 10px;

        & ul {
            flex-direction: column;
            gap: 10px;
        }
    }

    .user-info {
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }
}